/* Configs de Capitulos */

div.frame#cap1:hover {
    background-image: url(../imagens/capitulos/cap1_resumo.jpg);
}

div.frame#cap2:hover {
    background-image: url(../imagens/capitulos/cap2_resumo.jpg);
}

div.frame#cap3:hover {
    background-image: url(../imagens/capitulos/cap3_resumo.jpg);
}

div.frame#cap4:hover {
    background-image: url(../imagens/capitulos/cap4_resumo.jpg);
}

div.frame#cap5:hover {
    background-image: url(../imagens/capitulos/cap5_resumo.jpg);
}

div.frame#cap6:hover {
    background-image: url(../imagens/capitulos/cap6_resumo.jpg);
}

div.frame#cap7:hover {
    background-image: url(../imagens/capitulos/cap7_resumo.jpg);
}

div.frame#cap8:hover {
    background-image: url(../imagens/capitulos/cap8_resumo.jpg);
}

div.frame#cap9:hover {
    background-image: url(../imagens/capitulos/cap9_resumo.jpg);
}

div.frame#cap10:hover {
    background-image: url(../imagens/capitulos/cap10_resumo.jpg);
}

div.frame#cap11:hover {
    background-image: url(../imagens/capitulos/cap11_resumo.jpg);
}

div.frame#cap12:hover {
    background-image: url(../imagens/capitulos/cap12_resumo.jpg);
}

div.frame#cap13:hover {
    background-image: url(../imagens/capitulos/cap13_resumo.jpg);
}

div.frame#cap14:hover {
    background-image: url(../imagens/capitulos/cap14_resumo.jpg);
}

div.frame#cap15:hover {
    background-image: url(../imagens/capitulos/cap15_resumo.jpg);
}

div.frame#cap16:hover {
    background-image: url(../imagens/capitulos/cap16_resumo.jpg);
}

div.frame#cap17:hover {
    background-image: url(../imagens/capitulos/cap17_resumo.jpg);
}

div.frame#cap18:hover {
    background-image: url(../imagens/capitulos/cap18_resumo.jpg);
}

div.frame#cap19:hover {
    background-image: url(../imagens/capitulos/cap19_resumo.jpg);
}
