{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos</title>
    <link rel="stylesheet" href="{% static 'css/graficos.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <script src="{% static 'scripts/slider.js' %}" defer></script>
</head>
<body>
    <div id="orange"></div>
    <header>
        <div>
             <nav>
                 <a href="/">HOME</a>
                 <a href="#">GRAFICOS</a>
             </nav>
        </div>
        <div id="logo"></div>
        <div>
             <nav>
                 <a href="/capitulos/">CAPÍTULOS</a>
                 <a href="#">REFERÊNCIA</a>
             </nav>
        </div>
     </header>
    <div id="header-image"></div>
    <h1>COMPARAÇÃO <span>GRÁFICA</span></h1>
    <p>Black-Mesa não só expande o universo, mas incrementa a atmosféra do jogo e reimagina cenários com gráficos surpreendentes para o motor gráfico datado, Source, estreando em 2004 com o jogo Half-Life 2. Um dos aspectos mais fascinantes deste remake por fãs é sua qualidade nível Valve, dos pés à cabeça, da <a target="_blank" rel="external" href="https://www.youtube.com/playlist?list=PL7B392D9B49EAF881">trilha sonora</a> à gameplay.</p>
    <main>
        <div class="container">
            <div class="image-container">
                <img class="image-before slider-image" src="../static/img/screenshots/Surface Tension.jpg" alt="">
                <img class="image-after slider-image" src="../static/img/screenshots/Surface Tension_hj.jpg" alt="">
            </div>
            <input class="slider" type="range" name="" id="" value="50" min="0" max="100" aria-label="Porcentagem da foto mostrada">
            <div class="slider-line"></div>
            <div class="slider-button" aria-hidden="true"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#fcfcfc" viewBox="0 0 256 256"><path d="M136,40V216a8,8,0,0,1-16,0V40a8,8,0,0,1,16,0ZM96,120H35.31l18.35-18.34A8,8,0,0,0,42.34,90.34l-32,32a8,8,0,0,0,0,11.32l32,32a8,8,0,0,0,11.32-11.32L35.31,136H96a8,8,0,0,0,0-16Zm149.66,2.34-32-32a8,8,0,0,0-11.32,11.32L220.69,120H160a8,8,0,0,0,0,16h60.69l-18.35,18.34a8,8,0,0,0,11.32,11.32l32-32A8,8,0,0,0,245.66,122.34Z"></path></svg>
        </div>
    </main>

    <main>
        <div class="container">
            <div class="image-container">
                <img class="image-before slider-image" src="../static/img/screenshots/We've Got Hostiles.jpg" alt="">
                <img class="image-after slider-image" src="../static/img/screenshots/We've Got Hostiles_h.jpg" alt="">
            </div>
            <input class="slider" type="range" name="" id="" value="50" min="0" max="100" aria-label="Porcentagem da foto mostrada">
            <div class="slider-line"></div>
            <div class="slider-button" aria-hidden="true"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#fcfcfc" viewBox="0 0 256 256"><path d="M136,40V216a8,8,0,0,1-16,0V40a8,8,0,0,1,16,0ZM96,120H35.31l18.35-18.34A8,8,0,0,0,42.34,90.34l-32,32a8,8,0,0,0,0,11.32l32,32a8,8,0,0,0,11.32-11.32L35.31,136H96a8,8,0,0,0,0-16Zm149.66,2.34-32-32a8,8,0,0,0-11.32,11.32L220.69,120H160a8,8,0,0,0,0,16h60.69l-18.35,18.34a8,8,0,0,0,11.32,11.32l32-32A8,8,0,0,0,245.66,122.34Z"></path></svg>
        </div>
    </main>

    <main>
        <div class="container">
            <div class="image-container">
                <img class="image-before slider-image " src="../static/img/screenshots/On a Rail.jpg" alt="">
                <img class="image-after slider-image" src="../static/img/screenshots/On a Rail_h.jpg" alt="">
            </div>
            <input class="slider" type="range" name="" id="" value="50" min="0" max="100" aria-label="Porcentagem da foto mostrada">
            <div class="slider-line"></div>
            <div class="slider-button" aria-hidden="true"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#fcfcfc" viewBox="0 0 256 256"><path d="M136,40V216a8,8,0,0,1-16,0V40a8,8,0,0,1,16,0ZM96,120H35.31l18.35-18.34A8,8,0,0,0,42.34,90.34l-32,32a8,8,0,0,0,0,11.32l32,32a8,8,0,0,0,11.32-11.32L35.31,136H96a8,8,0,0,0,0-16Zm149.66,2.34-32-32a8,8,0,0,0-11.32,11.32L220.69,120H160a8,8,0,0,0,0,16h60.69l-18.35,18.34a8,8,0,0,0,11.32,11.32l32-32A8,8,0,0,0,245.66,122.34Z"></path></svg>
        </div>
    </main>
</body>
</html>