@font-face {
    font-family: "Black-Mesa";
    src: url(../fonts/Quantico-Regular.ttf) format(truetype);
}

@font-face {
    font-family: "Black-Mesa_2";
    src: url(../fonts/Sedan-Regular.ttf) format(truetype);
}

#orange {
    background-color: #ED6001;
    height: 5px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Black-MEsa";
}

header {
    background-color: #141414;
    height: 15vh;
}

header div {
    display: inline-block;
    width: 45%;
    height: 100%;
    background-color: #141414;
}

header div#logo {
    background-color: #141414;
    background-image: url(../img/black_mesa_logo_h.png);
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
    width: 9%;
}

div nav {
    display: block;
    position: absolute;
    padding-top: 56px;
    width: 45%;

    color: white;
    font-size: 1.45em;
    text-align: center;
}

a {
    margin: 80px;
    text-decoration: none;
    color: white;
    transition: 0.25s ease-out;
}

a:hover {
    transition: 0.25s ease-in;
    color: #ED6001;
}

a:visited {
    color: white;
}

body {
    background-color: #141414;
    background-image: url(../img/bg_index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
}

main {
    height: 50%;
}

main section {
    
    margin-top: 180px;
    margin-left: 30px;

    width: 44vw;
    height: 50%;

    color: aliceblue;
}

section p {
    font-family: "Black-Mesa_2";
    font-size: 1.1em;
    margin-left: 7px;
    text-shadow: black 1px 1px 3px;
}

section h1 {
    font-size: 6vw;
    letter-spacing: 6px;
    
}

span {
    color: #ED6001;
}

/* Media Queries */
 @media screen and (max-width: 1292px) {
    header nav {
        padding-top: 2.5vh;
    }

    header nav > a{
        font-size: 3vh;
    }
} 