:root {
    --cor-primaria: #141414;
    --cor-secundaria: #ED6001;
}

@font-face {
    font-family: "Black-Mesa";
    src: url(../fonts/Quantico-Regular.ttf) format(truetype);
}

@font-face {
    font-family: "Black-Mesa_2";
    src: url(../fonts/Sedan-Regular.ttf) format(truetype);
}

#orange {
    background-color: var(--cor-secundaria);
    height: 5px;
}

header {
    background-color: var(--cor-primaria);
    height: 15vh;
}

header div {
    display: inline-block;
    width: 45%;
    height: 100%;
    background-color: var(--cor-primaria);
}

header div#logo {
    background-color: var(--cor-primaria);
    background-image: url(../img/black_mesa_logo_h.png);
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
    width: 9%;
}

div nav {
    display: block;
    position: absolute;
    padding-top: 56px;
    width: 45%;

    color: white;
    font-size: 1.45em;
    text-align: center;
}

nav a {
    margin: 80px;
    text-decoration: none;
    color: white;
    transition: 0.25s ease-out;
}


nav a:hover {
    transition: 0.25s ease-in;
    color: #ED6001;
}

a:visited {
    color: white;
}

/* Media Queries */
@media screen and (max-width: 1292px) {

    header div#logo {
        background-size: 70%;
    }

    header nav {
        padding-top: 2.5vh;
    }

    header nav > a{
        font-size: 3vh;
    }
} 